<!DOCTYPE html>
<html lang="zh-cn">
<html>

<link href="~/153/153.css" rel='stylesheet' type='text/css' />
<link href="~/css/bootstrap.min.css" rel='stylesheet' type='text/css' />

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    
  
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-transparent border-bottom mb-3">
            <ul class="partial_nav">

                <li><a asp-controller="Home" asp-action="Index">首页</a></li>
                <li><a asp-controller="User" asp-action="Index">用户</a></li>
                <li><a asp-controller="Pages" asp-action="Index">乐谱</a></li>
                <li><a href="~/Release.zip">获取软件</a></li>
                <li><a href="#">联系我们</a></li>
                @if (User.IsInRole("Admin") || User.IsInRole("God"))
                {
                    <li>
                        <a asp-controller="admin" asp-action="index">用户管理</a>
                    </li>
                }
                <partial name="_LoginPartial" />
            </ul>
            
        </nav>
 



    <!-- //header -->

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    @*<footer>
        <section class="footer text-white py-lg-5 py-md-4 py-sm-3 py-2">
            <div class="w3_footer py-lg-5 py-md-4 py-sm-3 py-2">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 w3_ftl">
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>*@
</body>
</html>
<script src="~/153/153.js"></script>