@{
    ViewData["Title"] = "主页";
}
<script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>建议使用电脑浏览器打开</p>
    <p>芝士原神风花琴自动演奏软件琴谱分享网站</p>
    <p>正在龟速开发中...</p>
</div>



