@{
    ViewData["Title"] = "软件下载";
}

<h1 class="h1 text-center">软件获取</h1>
<hr />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            要求的运行环境
        </h3>
    </div>
    <div class="panel-body">
        <ul>
            <li>64位windows操作系统</li>
            <li>.Net Framework（建议v4.0）</li>
        </ul>
    </div>
</div>


@*<h2 class="h2">V2.0</h2>
    <span class="label label-default">较稳定</span>
    <span class="label label-default">有全部基础功能</span>
    <br />
    <br />
    <a class="btn btn-light" href="~/program/stb/Release-2.0.zip">点这里获取作曲软件2.0</a>
    <br />
    <hr />*@

<h2 class="h2">V2.011(dev)</h2>
<span class="label label-default">最新</span>
<span class="label label-default">新特性</span>
<span class="label label-default">推荐下载</span>
<span class="label label-default">可能不稳定</span>
<br />
<br />
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
            新功能
        </h3>
    </div>
    <div class="panel-body">
        <ul>
            <li>
                增加了键盘Q和E修改选中音符时值
            </li>
        </ul>
    </div>
    <div class="panel-heading">
        <h3 class="panel-title">
            BUG修复
        </h3>
    </div>
    <div class="panel-body">
        <ul>
            <li>
                修复了未保存工程直接导出乐谱导致程序崩溃的问题
            </li>
        </ul>
    </div>
</div>
<a class="btn btn-info" href="~/program/dev/Release-2.011(dev).zip">点这里获取作曲软件2.011(dev)</a>
<hr />

<h2 class="h2">V2.01(dev)</h2>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
            新特性
        </h3>
    </div>
    <div class="panel-body">
        <ul>
            <li>
                增加了键盘谱导出功能
                <br /><b>
                    注意：导出的键盘谱不能表示重叠的音符，由于是在原神中演奏的谱子，不存在按键「放开」时机的问题，
                    所以程序会自动缩减某些音符的时值以避免音符的重叠，
                    因此生成的键盘谱面会与您使用程序编辑的谱面在音符时值的表示上略有不同
                </b>
            </li>
            <li>修改按钮为中文</li>
        </ul>
    </div>
</div>
<a class="btn btn-info" href="~/program/dev/Release-2.01(dev).zip">点这里获取作曲软件2.01(dev)</a>
<hr />

<h2 class="h2">V2.0(dev)</h2>
<br />
<br />
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
            新特性
        </h3>
    </div>
    <div class="panel-body">
        <ul>
            <li>增加了播放预览时的播放位置提示</li>
        </ul>
    </div>
</div>
<a class="btn btn-info" href="~/program/dev/Release-2.0(dev).zip">点这里获取作曲软件2.0(dev)</a>
<hr />