



.date_time_p {
    font-size: 9px;
    font-style: italic;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.uid_p {
    font-size: 12px;
    font-style: italic;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    color:black;
}

.comment_content {
    white-space: pre-wrap;
    margin-left: 10px;
    margin-right: 10px;
    word-break: break-all;
    line-break: loose;

}



.block {
    /*width: 90%;*/
    /*height: 120px;*/
    background-color: lightsteelblue;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 20px;
    padding-right: 20px;
    font-size: 18px;
    opacity: 0.7;
    transition: 0.5s;
    border-radius: 25px;
}
    .block:hover {
        background-color: mintcream;
        opacity: 1.0;
    }






.card_head {
    height: 50px;
    width:100%;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    background-color: transparent;
    /*color: white;*/
    top: 10%;
}

    .card_head .user_icon {
        float: left;
        width: 45px;
        height: 45px;
        padding-left: 5px;
        padding: 5px;
        border-radius: 25px;
    }

    .card_head p {
        float: left;
        font-style: italic;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 45px;
        margin: 0;
        padding: 10px 0;
    }