@{
    ViewData["Title"] = "登录";
}
@model UserLoginViewModel
<div class="render_body">
    <link rel="stylesheet" href="~/css/login-style-2.css" />
    <script type="text/javascript" src="~/js/login.js"></script>
    <div class="main_div_up">
        <form id="form1" method="post">
            @Html.AntiForgeryToken()
            <div>
                <div class="row mt-4">
                    <label class="col-3 offset-2" asp-for="Account"></label>
                    <div class="col-5">
                        <input class="input-group" asp-for="Account" />
                    </div>
                </div>
                <div class="row mt-4">
                    <label class="col-3 offset-2" asp-for="Password"></label>
                    <div class="col-5">
                        <input class="input-group" asp-for="Password" />
                    </div>

                </div>
                <div class="row">
                    <div class="col-8 offset-2">
                        <div class="bg-warning">@Html.ValidationSummary()</div>
                    </div>
                   
                </div>

                <div class="btn_div" style="margin-top:25px">
                    <button type="submit" class="click_btn">登 录</button>
                </div>
            </div>
        </form>
        <div class="btn_div">
            <a asp-route="home"> <input class="click_btn" type="button" value="忘记密码" /></a>
        </div>
        <div class="btn_div">
            <a asp-action="register"> <input class="click_btn" type="button" value="注册" /></a>
        </div>
    </div>
</div>